html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */
*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #3f5c46;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px;
}
nav ul {
  display: flex;
  gap: 60px;
  font-weight: bold;
}
nav img {
  width: 100%;
  height: 40px;
}
@media (max-width: 624px) {
  nav .d-mobile-none {
    display: none;
  }
}
@media (min-width: 624px) {
  nav .d-desktop-none {
    display: none;
  }
}

footer {
  background-color: #EAF0ED;
  color: #3F5D45;
  padding: 40px 122px 30px 122px;
  margin: 0 auto;
}
@media (max-width: 624px) {
  footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
footer .info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .info .slogan {
  width: 60px;
}
@media (max-width: 624px) {
  footer .info .slogan {
    display: none;
  }
}
footer .info .contact_info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1.5;
  font-weight: 400;
}
footer .info .contact_info .logo {
  width: 172px;
}
@media (max-width: 624px) {
  footer .info .contact_info .logo {
    margin-bottom: 40px;
  }
}
footer .link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 624px) {
  footer .link {
    flex-direction: column;
  }
}
footer .link .outside_link {
  width: 32px;
  display: flex;
  gap: 8px;
}
@media (max-width: 624px) {
  footer .link .outside_link {
    margin-bottom: 24px;
  }
}

.df {
  display: flex;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  margin: 0px 42px 60px 42px;
}
@media (max-width: 624px) {
  header {
    margin: 0;
  }
}

.mission10 {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 30px;
  margin: 0 42px;
  max-width: 940px;
}
@media (max-width: 624px) {
  .mission10 {
    flex-direction: column;
    margin: 0;
  }
}
.mission10 .dg-m {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.mission10 .dg-m:hover {
  background-color: #e7eeea;
}
.mission10 .list-name {
  background-color: #3f5c46;
  color: white;
}
.mission10 .list-name:hover {
  background-color: #3f5c46;
}
.mission10 .dg {
  color: #3f5c46;
}
.mission10 .navbar10 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}
@media (max-width: 624px) {
  .mission10 .navbar10 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
.mission10 .navbar10 a {
  border: 1px solid #e7eeea;
  padding: 16px 48px;
}
.mission10 .navbar10 a.active {
  background-color: #e7eeea;
}
.mission10 .goods10 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
}
.mission10 .goods10 .card {
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  outline: 1px solid #e7eeea;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.mission10 .goods10 .card .tag {
  position: absolute;
  width: 36px;
  height: 106px;
  background-color: #3f5c46;
  color: #e7eeea;
  font-weight: normal;
  padding: 5px;
  top: 0;
  left: 20px;
  line-height: 1.5;
}
.mission10 .goods10 .card .favorite {
  position: absolute;
  top: 20px;
  left: 260px;
}
.mission10 .goods10 .card .favorite img {
  width: 24px;
}
.mission10 .goods10 .card img {
  width: 300px;
}
.mission10 .goods10 .card .itm10 {
  font-size: 20px;
  font-weight: normal;
  color: #3f5c46;
  padding: 10px 0px;
}
.mission10 .goods10 .card .itm10 span {
  padding: 11px 29px;
}
.mission10 .goods10 .card .btn10 {
  width: 100%;
  padding: 20px;
  background-color: #e7eeea;
  color: #3f5c46;
  font-size: 24px;
  font-weight: bold;
  border: none;
}
.mission10 .goods10 .card .btn10:hover {
  background-color: #3f5c46;
  color: white;
  cursor: pointer;
}

@media (max-width: 624px) {
  .d-padS-none {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: right;
  margin: 30px;
  max-width: 940px;
}
@media (max-width: 984px) {
  .pagination {
    justify-content: center;
  }
}
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #e7eeea;
  color: #3f5c46;
  font-weight: 600;
}
.pagination span:hover {
  background-color: #3f5c46;
  color: white;
  cursor: pointer;
  border: none;
}
.pagination span.active-d {
  background-color: #3f5c46;
  color: white;
}

.subscription {
  display: flex;
  justify-content: space-between;
  background-color: #3f5c46;
  padding: 30px 122px;
  color: #fff;
  font-size: 24px;
}
@media (max-width: 984px) {
  .subscription {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 10%;
  }
}
.subscription .callToAction {
  display: flex;
  align-items: center;
}
.subscription .callToAction img {
  width: 40px;
  margin-right: 20px;
}
.subscription .fillIn {
  padding: 16px;
  background-color: #EAF0ED;
  display: flex;
  align-items: center;
}
.subscription .fillIn label {
  color: #3f5c46;
}
.subscription .fillIn input {
  border: none;
  background-color: transparent;
}
.subscription .send {
  color: #3f5c46;
  background-color: #FFE180;
  padding: 20px 24px;
}/*# sourceMappingURL=all.css.map */