footer{
    background-color: #EAF0ED;
    color: #3F5D45;
    padding: 40px 122px 30px 122px;
    margin: 0 auto;
    @include padS{
        padding-left:10%;
        padding-right: 10%;
    }
    .info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .slogan{
            width: 60px;
            @include padS{
                display: none;
            }
        }
        .contact_info{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            line-height: 1.5;
            font-weight: 400;
            .logo{
                width: 172px;
                @include padS{
                    margin-bottom: 40px;
                }
            }
        }
    }
    .link{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include padS{
            flex-direction: column;
        }
        .outside_link{
            width: 32px;
            display: flex;
            gap: 8px;
        @include padS{
            margin-bottom: 24px;
        }
        }
    }
}