.wrapBranch{
    margin: 0 auto;
    max-width: 1320px;
    padding: 96px 12px 80px 12px;
}
.wrapBranch .title{
    display: flex;
}
.wrapBranch .title h1{
    border-left: 4px solid var(--red);
    padding-left: 16px;
}
.wrapBranch .area{
    display: flex;
}
.wrapBranch .area select{
    height:38px;
    width:304px;
}

.wrapBranch .cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.wrapBranch .cards .card{
    width:30%;
}
.wrapBranch .cards .card h3{
    outline: 1px solid #00000020;
    padding: 8px 24px;
}
.wrapBranch .cards .card h3{
    font-size: 24px;
}
.wrapBranch .cards .card .info{
    outline: 1px solid #00000020;
    font-size: 20px;
    padding: 16px 24px;
}
.info p{
    display: flex;
    align-items: center;

}
.info p span{
    margin-right: 12px;
}
.card a{
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    display: block;
    padding: 16px 0px;
}
@media(max-width:768px) {
    .wrapBranch{
        padding: 160px 36px 96px 36px;
    }
    .wrapBranch .cards .card{
        width:100%;
    }
}
@media(max-width:375px) {
    .wrapBranch{
        padding: 40px 12px 80px 12px;
    }
}