//general
.df{
  display: flex;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
// header
header{
    margin: 0px 42px 60px 42px;
    @include padS{
        margin: 0;
    }
  }
// section
.mission10 {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 30px;
  margin: 0 42px;
  max-width: 940px;
  @include padS{
    flex-direction: column;
    margin: 0;
  }

  .dg-m {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    &:hover {
      background-color: #e7eeea;
    }
  }

  .list-name {
    background-color: #3f5c46;
    color: white;

    &:hover {
      background-color: #3f5c46;
    }
  }

  .dg {
    color: #3f5c46;
  }

  .navbar10 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    @include padS{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    a {
      border: 1px solid #e7eeea;
      padding: 16px 48px;

      &.active {
        background-color: #e7eeea;
      }
    }
  }

  .goods10 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    width: fit-content;
    gap: 20px;

    .card {
      box-sizing: border-box;
      flex-direction: column;
      text-align: center;
      outline: 1px solid #e7eeea;
      position: relative;
      max-width: 300px;
      margin: 0 auto;

      .tag {
        position: absolute;
        width: 36px;
        height: 106px;
        background-color: #3f5c46;
        color: #e7eeea;
        font-weight: normal;
        padding: 5px;
        top: 0;
        left: 20px;
        line-height: 1.5;
      }

      .favorite {
        position: absolute;
        top: 20px;
        left: 260px;

        img {
          width: 24px;
        }
      }

      img {
        width: 300px;
      }

      .itm10 {
        font-size: 20px;
        font-weight: normal;
        color: #3f5c46;
        padding: 10px 0px;

        span {
          padding: 11px 29px;
        }
      }

      .btn10 {
        width: 100%;
        padding: 20px;
        background-color: #e7eeea;
        color: #3f5c46;
        font-size: 24px;
        font-weight: bold;
        border: none;

        &:hover {
          background-color: #3f5c46;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
.d-padS-none{
    @include padS{
        display: none;
    }
  }

//pagination
.pagination {
  display: flex;
  justify-content: right;
  margin: 30px;
  max-width: 940px;
  @include laptopS{
    justify-content: center;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #e7eeea;
    color:#3f5c46;
    font-weight: 600;

    &:hover {
      background-color: #3f5c46;
      color: white;
      cursor: pointer;
      border: none;
    }

    &.active-d {
      background-color: #3f5c46;
      color: white;
    }
  }
}
// subscription
.subscription {
  display: flex;
  justify-content: space-between;
  background-color: #3f5c46;
  padding: 30px 122px;
  color: #fff;
  font-size: 24px;
  @include laptopS{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 10%;
  }

  .callToAction {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      margin-right: 20px;
    }
  }
  .fillIn{
      padding: 16px ;
      background-color: #EAF0ED;
      display: flex;
      align-items: center;
    label{
      color: #3f5c46;
    }
    input{
      border: none;
      background-color: transparent;
    }
  }
  .send{
    color: #3f5c46;
    background-color: #FFE180;
    padding: 20px 24px; 
  }
}