/* header */
header{
    background: url("/assets/image/home/home-header.png" );
    background-position: center;
    background-size: cover;
    height:787px;
    display: flex;
    justify-content: end;
    @include pad{
        background: url("/assets/image/home/home-header-sm.png");
    }
    @include mobile{
        height:396px;
    }
}
.header-text{
    color: var(--dred);
    text-align: right;
    padding-left:12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1296px;
}
.buy-btn{
    background-color: var(--red);
    padding:6px 12px;
    width:fit-content;
    margin-left:auto;
}
.buy-btn:hover{
    background-color: var(--dred);
}
.header-text a{
    text-decoration: none;
    color: var(--white);
}
@media(max-width:375px) {
    header .header-text h1{
        font-size: 16px;
    }
    header .header-text h2{
        font-size: 24px;
    }
}
/* main */
/* .feature */
.feature{
    background-color: var(--pale);
    text-align: center;
    padding: 80px 12px;
    @include mobile{
        padding: 40px 12px;
    }
}
.features{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1296px;
    @include pad{
        justify-content: center;
    }
    @include mobile{
        justify-content: center;
        gap: 24px;
    }
}
.feature-card{
    text-align: center;
    width: 306px;
}
.feature-card img{
    width: 100px; 
}
.feature h3{
    color: var(--dred);
    @include mobile{
        font-size: 24px;
    }
}
.feature-card h4{
    color: var(--dred);
}
.feature-card p{
    text-align: left;
}
/* .classic-goods */
.classic-goods{
    margin: 0 auto;
    text-align: center;
    padding: 80px 12px;
    @include mobile{
        padding: 40px 12px;
    }
}
.classic-goods h3{
    color: var(--dred);
    @include mobile{
        font-size: 24px;
        margin-bottom: 24px;
    }
}
.design-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--red);
    font-style: italic;
    max-width: 1296px;
    margin: 0 auto;
    gap: 24px;
    @include laptopS{
        display: block;
        width:50%;
    }
    @include mobile{
        gap: 24px;
    }
}
.design-card li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .design-goods */
.design-goods{
    margin: 0 auto;
    text-align: center; 
    background: url("/assets/image/home/index-bg-sm.png");
    background-position: center;
    background-size: cover;
}
.design-goods h3{
    color: var(--white);
}
.design-series{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 12px;
    max-width: 1296px;
}
.design-img{
    width: 50%;
    @include pad{
        width: 100%;
    }
}
.design-name{
    color: var(--red); 
    font-style: italic; 
    display: flex;
    align-items: center;
    justify-content: center;
    @include pad{
        display: block;
        margin: 0 auto;
    }
}
.design-name h4{
    background-color: var(--white); 
}
/* .recommendation */
.recommendation{
    margin: 0 auto;
    padding: 80px 12px;
}
.recommendation h3{
    text-align: center;
    color: var(--dred);
}
.customer-recommendation{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1296px;
    flex-wrap: wrap;
    @include pad{
        justify-content: center;
    }
}
.recommend-card{
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    width:22%;
    @include pad{
        width: 48%;
    }
    @include padS{
        width: 100%;
    }
    @include mobile{
        width: 100%;
    }
}
.feedback{
    margin: 16px;
}

/* .contact-us */
.contact-us{
    background-color: var(--pale);
    padding: 80px 12px;
    @include pad{
        padding: 80px 96px;
    }
    @include padS{
        padding: 80px 24px;
    }
    @include mobile{
        padding: 80px 12px;
    }
}
.form{
    max-width: 636px;
    margin: 0 auto;
}
.contact-us h3{
    color: var(--dred);
    text-align: center;
}
label{
    display: block;
}
input{
    background-color: transparent;
    border-color: var(--black);
    height: 36px;
    width:100%;
    text-indent: 8px;
}
.suggest{
    padding-bottom: 106px;
    height: 136px;
}
.agreement{
    height:fit-content;
    width:fit-content;
    background-color: transparent;
}
.agreementTxt{
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}
.sent-btn{
    text-decoration: none;
    width:416px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--red);
    color: var(--white);
    display: block;
    text-align: center;
    margin: 0 auto;
    border: none;
    @include padS{
        max-width: 100%;
    }
}
@media(max-width:768px) {
    .contact-us p{
        font-size: 16px;
    }
}