.fz-l{
    font-size: 64px;
}
.fz-ml{
    font-size: 48px;
}
.fz-m{
    font-size: 36px;
}
.fz-sm{
    font-size: 32px;
}
.fz-s{
    font-size: 24px;
}
.fz-ss{
    font-size: 20px;
}
.fz-xs{
    font-size: 14px;
}
.fwn{
    font-weight: normal;
}
.fwb{
    font-weight: bold;
}
.mt-16{
    margin-top: 16px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-72{
    margin-bottom: 72px;
}
.mr-16{
    margin-right: 16px;
}
.ml-16{
    margin-left: 16px;
}
